.move, .selected, .not-selected {
    transition: all .2s;
    cursor: pointer;
}
.move:hover {
    transform: translateY(-15px);
}
.selected {
    transform: translateY(-15px);
}
.not-selected {
    transform: translateY(15px);
    opacity: .6;
}
.big {
    height: 255px;
    width: auto;
}
.big.selected {
    transform: translateY(-30px);
}
.big.not-selected {
    transform: translateY(30px);
    opacity: .6;
}
.izq {
    transform: scaleX(-1) rotate(-90deg);
    position: relative;
    right: 15px;
}
.der {
    transform: rotate(-90deg);
    position: relative;
    left: 15px;
}